/* 
    Document   : style
    Created on : 22/11/2014, 23:34:43
    Author     : Kalman
    Description:
        Purpose of the stylesheet follows.
*/

a.perma-thickbox{
    box-shadow: 0 0 12px 12px #f66;
}

